@tailwind base;
@tailwind components;
@tailwind utilities;


.background {
    box-shadow: .1rem 1rem 1rem rgba(101, 174, 237, 0.506);
}

html,

body {

  padding: 0;
  margin: 0;
  background-color: rgb(231, 234, 255);
  color: rgb(252, 253, 255);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Volkhov', serif;
}

.navbar {
  background: radial-gradient(circle, rgba(204, 204, 252, 0.493) 5%, rgba(106, 213, 252, 0.402) 80%);

}

.title {
  font-family: 'Volkhov', serif;
  color: rgb(133, 12, 141);
  font-size: 3rem;
 
}

.links {
  font-size: 2rem;
  color: rgb(120, 6, 164);
}
.cart {
  background-color: black;
  background: linear-gradient(51deg, rgb(94, 94, 208) 0%, rgba(50, 50, 109, 0.805) 40%, rgba(76, 37, 76, 0.856) 100%);

}

.span {
  width: 10rem;
  aspect-ratio: 1;
  box-shadow: inset 1rem 1rem .5rem rgba(70, 6, 6, 0.503),
              inset -.5rem -.5rem -.5rem rgba(248, 248, 255, 0.136);
  position: absolute;
  border-radius: 50rem;
  top: 100%;
              

}






