@tailwind base;
@tailwind components;
@tailwind utilities;


.background {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.556);
}

html,

body {
  padding: 0;
  margin: 0;
  background-color: rgb(17, 21, 44);
  color: aliceblue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  background: radial-gradient(circle, rgba(246,246,252,1) 5%, rgba(163, 215, 236, 0.575) 80%);

  border-radius: 2rem;
}

.title {
  font-family: 'Dancing Script', cursive;


  color: rgb(24, 50, 19);
  font-size: 3rem;
}

.links {
  font-size: 2rem;
  color: rgb(16, 49, 30);
}
.cart {
  background: linear-gradient(51deg, rgb(204, 204, 224) 0%, rgb(196, 196, 221) 29%, rgba(93, 72, 93, 0.669) 100%);
}

