@tailwind base;
@tailwind components;
@tailwind utilities;


.background {
    box-shadow: .1rem 1rem 1rem rgba(41, 98, 148, 0.471);
}

html,

body {

  padding: 0;
  margin: 0;
  background-color: rgb(212, 216, 243);
  color: rgb(252, 253, 255);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Volkhov', serif;
}

.navbar {
  background: radial-gradient(circle, rgba(204, 204, 252, 0.74) 5%, rgba(106, 213, 252, 0.722) 80%);

}

.title {
  font-family: 'Volkhov', serif;
  color: rgb(116, 23, 139);
  font-size: 2rem;
}


.links {
  font-size: 1.5rem;
  color: rgb(55, 20, 68);
}
.cart {
  background-color: black;
  background: linear-gradient(51deg, rgb(61, 61, 95) 0%, rgba(39, 39, 59, 0.805) 40%, rgba(76, 37, 76, 0.856) 100%);

}

.span {
  width: 10rem;
  aspect-ratio: 1;
  box-shadow: inset 1rem 1rem .5rem rgba(70, 6, 6, 0.503),
              inset -.5rem -.5rem -.5rem rgba(248, 248, 255, 0.136);
  position: absolute;
  border-radius: 50rem;
  top: 100%;
              

}
.button-label {
  background: rgb(213, 213, 235);
  background: linear-gradient(331deg, rgb(208, 208, 249) 10%, rgb(227, 217, 232) 29%, rgb(255, 243, 255) 100%);
  color: rgb(59, 12, 229);
  box-shadow: .5rem .5rem 1rem rgb(88, 148, 205);
}

.head_text {
  font-size: 8rem;
  padding: 2rem;
  text-shadow: .5rem .5rem .5rem rgba(28, 28, 224, 0.377);
  color: rgb(162, 5, 120);
  background-image: url("/frontend/public/bubblesSuds400.png");
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}






